@import 'base';
@import '~bootstrap/scss/bootstrap.scss';

// add more lib
@import '~font-awesome/css/font-awesome.min.css';

// if you don't want to customize antd --> you could simple use this row to import antd css
//@import '~antd/dist/antd.css';

// Some best-practice CSS that's useful for most apps
// Just remove them if they're not what you want
html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
